@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebCards.Models.Partite

@{
    ViewData["Title"] = "Partita";
    
}

<br />
<br />
<br />

<h2 style="text-align:center">♠ Nuova partita ♠</h2>
<br />
<div class="text-center">
    @using (Html.BeginForm("Index", "Game", FormMethod.Post))
    {
        <label>Inserisci numero giocatori</label>
        @Html.TextBoxFor(m => m.NumeroGiocatori)
        <br>
        <input type="submit" value="Create" />
    }

    <br />
    <center>
        <h2 style="text-align:center">♠ Continua partita ♠</h2>
        <br /> 

        <table style="width:100%">
            @foreach (var pa in ViewData["partite"] as IQueryable<Partite>)
            {
                <tr>
                    <th>@pa.Datatime.ToShortDateString()</th>
                    <th>@pa.Rowguid</th>

                    @*@pa.Rowguid*@


                    <td>
                        @Html.ActionLink("Elimina", "Delete", new { id = pa.Rowguid })
                    </td>
                    <td>
                        @Html.ActionLink("Carica", "Partita", new { id = pa.Rowguid })
                    </td>
                </tr>
            }
        </table>
    </center>





</div>








