@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebCards.Models.ViewModel

@{
    ViewData["Title"] = "partita";
    var player = ViewData["player"] as Giocatori;
    var partita = ViewData["partita"] as Partite;
    var player_aversari = ViewData["player_aversari"] as List<Giocatori>;
}


<div class="text-center">

    <div class="container">
      <div class="row row-cols-4">
        @foreach (var item in player_aversari)
        {
        <div id="player-@item.Nome" class="col" >
            <h1>@item.Nome</h1>
            <div>
                @foreach (var carta in item.Manos)
                {
                    <label>Carta coperta - </label>
                }
            </div>
            <div>
                @try
                {
                    <label>(@item.MazzoPersonales.Count() Carte nel mazzetto) @item.MazzoPersonales.Last().Carta.Valore/@item.MazzoPersonales.Last().Carta.Seme</label>
                }
                catch (InvalidOperationException)
                {
                }
            </div>
        </div>
        }
      </div>
    </div>
    <div class="container">
        <h1 class="text-danger">carte in tavolo</h1>
        <div class="row justify-content-md-center">
            @foreach(var item in partita.InTavolos)
            {
                <div id="carteInTavola" class="col-md-auto" >
                    <p class="text-danger">@item.CarteId.ToString()</p>
                </div>
            }
        </div>
    </div>

    <div>
        <h1>@player.Nome</h1>
        <div id="carte_player">
            <p class="center">
                @foreach (var carta in player.Manos)
                {
                <label>@carta.ToString() - </label>
                }
            </p>
        </div>
        <div>
            @try
            {
                <p class="center">(@player.MazzoPersonales.Count() Carte nel mazzo) @player.MazzoPersonales.Last().Carta.Valore/@player.MazzoPersonales.Last().Carta.Seme</p>
            }
            catch (InvalidOperationException)
            {
            }
        </div>
        <div>  
            @Html.EditorFor(m=>m.DrawPlayerDeckModel, null, "", null)
            @Html.EditorFor(m=>m.DrawTableCardModel,  null, "", null)
            @Html.EditorFor(m=>m.DiscardModel,  null, "", null)
        </div> 
    </div>


</div>

