@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "partita";
    var player = ViewData["player"] as Giocatori;
    var partita = ViewData["partita"] as Partite;
    var player_aversari = ViewData["player_aversari"] as List<Giocatori>;






}
<div class="text-center">
    <div id="play-aversari">
        @foreach(var item in player_aversari)
        {
            <div id="player-@item.Nome">
                <h1>@item.Nome</h1>
                <div id="carte_player">
                        @foreach(var carta in item.Manos)
                        {
                            <p>N/D</p>
                        }
                </div>
                <div id="carta_scoperte">

                    @try
                    {
                        <p>a @item.MazzoPersonales.Count() carte nel suo mazzo</p>
                        <p>@item.MazzoPersonales.Last().Carta.Valore/@item.MazzoPersonales.Last().Carta.Seme</p>
                    }catch(InvalidOperationException){
                    }
                </div>
            </div>
        }
    </div>
    
    









    <div id="player-@player.Nome">
        <h1>@player.Nome</h1>
        <div id="carte_player">
            <p>
                @foreach(var carta in player.Manos)
                {
                    <p>@carta.Carta.Valore;/@carta.Carta.Seme; - </p>
                }
            </p>
        </div>
        <div id="carta_scoperte">
            @try
            {
                <p>hai @player.MazzoPersonales.Count() carte nel mazzo</p>
                <p>@player.MazzoPersonales.Last().Carta.Valore/@player.MazzoPersonales.Last().Carta.Seme</p>
            }catch(InvalidOperationException){
            }
        </div>
    </div>





    @using (Html.BeginForm("DrawPlayerDeck", "Cards", FormMethod.Post))
    {
        <input type="submit"  value="ruba" class="btn btn-success"/>
    }


<div/>
 


